<div class="page-header">
  <%if current_user.try(:admin?)%>
    <%= link_to new_film_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Film
    <% end %>
  <%end%>
  <h1>Films</h1>
</div>
<div class="row films-list2">
  <% @films.each do |f|%>
    <div class="col-md-4"><%=link_to image_tag(f.image_url), f%></div>
    <%end%>
</div>
<%= paginate @films, theme: 'bootstrap'%>

